@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

* {
    box-sizing: border-box;
}

/**, 
*:before, 
*:after {
  box-sizing: inherit;
}*/

.container {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.row {
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
}

.margin-top-80 {
    margin-top: 80px;
}

ul li a {
    text-decoration-line: none;
}

li {
    display: inline;
    color: grey;
    list-style: none;
    text-align: center;
}

.nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-li{
    margin-left: 24px;
    margin-right: 24px;
}

.nav-li:last-child {
    margin-right: 0;
}

.nav-link {
    font-weight: 300;
    line-height: 24px;
}

h1 {
    color: hsl(243, 87%, 12%);
    font-size: 38px;
    line-height: 60px;
    margin-bottom: 16px;
}

.margin-top-32 {
    margin-top: 32px;
}

p{
    padding-right: 50px;
    font-weight: 600;
    color: hsl(238, 22%, 44%);
    line-height: 24px;
}

input {
    padding: 11px 24px;
    line-height: 24px;
    border-radius: 2px;
    font-size: 14px;
    /*box-shadow:0 0 3px rgb(224, 220, 220) inset;*/
    border: 1px solid black;
}

.width-100 {
    width: 100%;
}

input::placeholder {
    color: #aaa;
}

button {
    background-color: hsl(224, 93%, 58%);
    color: white;
    border-radius: 2px;
    border: none;
    box-shadow:0 0 3px rgb(224, 220, 220) inset;
    text-shadow: darkgray;
    padding: 12px 46px;
    font-size: 15px;
    line-height: 24px;

}

.responsive {
    width: 100%;
    height: auto;
}

.back-image {
    background-image: url("./images/bg-curve-desktop.svg");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 70px;
}

.link {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    padding-bottom: 4px;
    line-height: 28px;
    /*text-underline-position: under;*/
}

.arrow {
    margin-bottom: -3.5px;
}

.twit {
    width: 50%;
    background-color: white;
    border: 5px solid whitesmoke;
    border-radius: 4%;
}

.twit-p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: hsl(238, 22%, 44%);
    padding: 0;
}

.avatar {
    border-radius: 50%;
    width: 35px;
}

.avatar-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
h6 {
    margin: 0;
    padding-top: 2px;
    font-weight: bold;
}

.avatar-info {
    margin-left: 10px;
}

.avatar-p{
    margin: 0;
    font-size: 8px;
}

.margin-top-70 {
    margin-top: 70px;
}

/*.image {max-width: 450px;}*/
.row::after {
    content:"";
    display: table;
    clear:both;
} 

.input2 {margin-top: 30px;}
/*.button1 {margin-left: 10px;}*/
.button2 {margin-top: 10px;}






.sec-a {
    padding-bottom: 70px;
    background-color: hsl(238, 22%, 44%);
}


.sec-b {
    padding-top: 70px;
    background-color: hsl(243, 87%, 12%);
}

.sec-b p {color: hsl(240, 75%, 98%);}

.sec-b a {
    text-decoration-line: none;
    color: hsl(240, 75%, 98%);
} 



body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-weight: 400;
}
h1, h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700; 
        
    }
h2 {color: hsl(240, 75%, 98%);}    




.sec-a p {color: hsl(0, 0%, 75%);}



.logo-2 path {
    fill: #fff;
}

.span{padding-left: 15px;}




[class*='col-'] {
    width: 100%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
} 

/* For mobile phones: */
@media only screen and (max-width: 767px) {
    .left {width: 33.33%;}
    .right {width: 66.67%;}
    .nav-li {width: 33.33%;}
    .row {padding: 10px;}
    .button1 {margin-top: 10px; margin-left: unset;}
    .main-logo {
    width: 80px;
    height: 25px;
    }

}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

#header {
    /*margin-bottom: 80px;*/
    display: flex; 
}



