@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

/**, 
*:before, 
*:after {
  box-sizing: inherit;
}*/
.row {
    padding: 40px;
}


ul li a {
    text-decoration-line: none;
}

li {
    display: inline;
    color: grey;
    list-style: none;
    text-align: center;
}

.nav {margin: 0;}
.responsive {
    width: 100%;
    height: auto;
}

.image {max-width: 450px;}
.row::after {
    content:"";
    display: table;
    clear:both;
} 


input {height: 28px; border-radius: 4px;}
.input2 {margin-top: 30px;}
.button1 {margin-left: 10px;}
.button2 {margin-top: 10px;}
.back-image {
    background-image: url("./images/bg-curve-desktop.svg");
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 70px;
}

.twit {
    background-color: white;
    width: 50%;
    padding: 15px;
    border: 5px solid whitesmoke;
    border-radius: 4%;
}

.avatar {
    border-radius: 50%;
    width: 95px;
}

.avatar-cont {
    display: inline-flex; 
}

.sec-a {
    padding-bottom: 70px;
    background-color: hsl(238, 22%, 44%);
}

p{
    padding-right: 150px;
    color: hsl(238, 22%, 44%);
}
.sec-b {
    padding-top: 70px;
    background-color: hsl(243, 87%, 12%);
}

.sec-b p {color: hsl(240, 75%, 98%);}

.sec-b a {
    text-decoration-line: none;
    color: hsl(240, 75%, 98%);
} 

.link {
    color: hsl(170, 45%, 43%);
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-weight: 400;
}
h1, h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700; 
    }
h2 {color: hsl(240, 75%, 98%);}    

h1 {color: hsl(243, 87%, 12%);}

.sec-a p {color: hsl(0, 0%, 75%);}



.logo-2 path {
    fill: #fff;
}



/* For mobile phones: */
[class*='col-'] {
    width: 100%;
    float: left;
} 

@media only screen and (max-width: 767px) {
    .left {width: 33.33%;}
    .right {width: 66.67%;}
    .nav-li {width: 33.33%;}
    .row {padding: 10px;}
    .button1 {margin-top: 10px; margin-left: unset;}
    .main-logo {
    width: 80px;
    height: 25px;
    }
}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

#header {
    margin-bottom: 80px;
    display: flex; 
}

button {
    background-color: hsl(224, 93%, 58%);
    color: white;
    border-radius: 2px;
    border: none;
    height: 28px;
}


